<!DOCTYPE html>
<html>
  <head>
    <head><% include partials/template/head.ejs %></head>
  
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <% include partials/template/jsdefaults.ejs %>
  </body>
  
  
</html>
