<!DOCTYPE html>
<html>
  <head>
    <head><% include partials/template/head.ejs %></head>
  
  </head>
  <body>
    
    <% include partials/template/header.ejs %>
    
    <section class="layout">
      
      <div class="primary">
        
         <div>ipsom</div>
        
      </div><!-- primary -->
      <aside class="secondary">
        
         <div>ipsom</div>
      </aside><!-- secondary -->
      
      
    </section><!-- layout -->
    
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
  
  
</html>
